/*!
 * GPLv3 https://www.gnu.org/licenses/gpl-3.0.en.html
 *
 * Author: eidng8
 */

@import "variables";

html {
  color: $screen-fg;
}

.el-menu {
  background: $screen-bg;
  border-color: lighten($screen-bg, 15%);
  color: $screen-fg;
}
